body {
    margin: 0;
}
#menu {
    border-bottom: solid black 1px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
#editor {
    position: relative;
    overflow: auto;
    font-size: 16px;
}
#spacer {
    -webkit-box-flex: 1;
}
.content-area {
    position: absolute;
    z-index: 1;
    font-family: monospace;
    background-color: white;
}
.highlighted {
    border: 1px solid blue;
}
.highlighted-warning {
    border: 1px solid red;
}
.selection {
    background-color: lightblue;
}
.reserved {
    font-weight: bold;
    color: blue;
}
.keyword {
    color: green;
}
.string {
    color: green;
}
.comment {
    color: maroon;
}
.declaration {
    color: #af7817;
}
