body {
    margin: 0;
}
#menu {
    margin-bottom: 0;
}
#editor {
    font-size: 16px;
    position: relative;
    overflow: auto;
}
#ticker {
    background-color: white;
    bottom: 0;
    border-top: black solid 1px;
    border-left: black solid 1px;
    border-top-left-radius: 2px;
    font-size: 12px;
    position: fixed;
    right: 0;
    min-width: 200px;
    text-align: right;
}
.content-area {
    position: absolute;
    z-index: 1;
    font-family: monospace;
    background-color: white;
}
.highlighted {
    border: 1px solid blue;
}
.highlighted-warning {
    border: 1px solid red;
}
.selection {
    background-color: lightblue;
}
.reserved {
    font-weight: bold;
    color: blue;
}
.keyword {
    color: green;
}
.string {
    color: green;
}
.comment {
    color: maroon;
}
.declaration {
    color: #af7817;
}
